@using CodingEventsDemo.ViewModels
@model AddEventCategoryViewModel

<h1>Create an Event Category</h1>
<form asp-controller="EventCategory" asp-action="ProcessCreate" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Submit"/>
</form>

